<h1>Artists</h1>

<% @artists.each do |artist| %>
  <div>
    <img src="<%= artist.image_url %>" alt="<%= artist.name %>" width="500" height="300">
    <h3><%= artist.name %></h3>
    <%= link_to "Ver más", artist_path(artist) %>
  </div>
<% end %>

